<div mat-app-background basic-container>
  <span class="view-name">设备管理</span>

  <!-- FAO TBS!!!!grid -->
  <div class="container">
    <div fxLayout="row warp" fxLayoutGap="20px grid" fxLayoutAlign="center">
      <app-mutisensor-card
        *ngFor="let device of devicesInfo"
        [deviceId]="device.device_no"
        [devices]="_deviceService.devicesInfo"
        [newestData]="_sensor5in1Service.subSensorData"
        fxFlex="450px"
        fxFlex.lg="450px"
        fxFlex.md="450px"
        fxFlex.sm="calc(80%-20px)"
        fxFlex.xs="calc(80%-20px)"
      ></app-mutisensor-card>
    </div>
  </div>
</div>
<div fxLayout fxLayoutAlign="center center">
  <p *ngIf="devicesInfo == null">载入中...</p>
  <p *ngIf="devicesInfo != null">版权所有© 浙江光维通信技术有限公司</p>
</div>
