<ng-container>
  <!-- <app-progress-bar class="progress"></app-progress-bar> -->
  <app-top-bar class="header" (sideMenuButton)="sidenav.toggle()">
  </app-top-bar>
  <!-- [opened]="screenWidth > 875" -->
  <!-- //取消menu遮罩:[hasBackdrop]="false" -->
  <mat-sidenav-container [hasBackdrop]="false" class="container">
    <mat-sidenav
      #sidenav
      [opened]="screenWidth > 2875"
      [mode]="screenWidth > 2875 ? 'side' : 'side'"
      class="sidenav"
      style="background-color: rgb(43, 63, 83)"
    >
      <mat-nav-list>
        <app-side-menu
          *ngFor="let item of navItems"
          [item]="item"
        ></app-side-menu>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content autosize>
      <div class="router-wrapper" [@rotateCubeToLeft]="getState(o)">
        <router-outlet #o="outlet"> </router-outlet>
      </div>
    </mat-sidenav-content>
    <!-- <mat-sidenav-content>
      <router-outlet> </router-outlet>
    </mat-sidenav-content> -->
  </mat-sidenav-container>
</ng-container>
