.progress {
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
}

.container {
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(240, 240, 240);
}

.sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 275px;
  //background: rgba(255, 0, 0, 0.5);
}
