<ng-container>
  <!-- <app-progress-bar class="progress"></app-progress-bar> -->
  <app-top-bar class="header" (sideMenuButton)="sidenav.toggle()">
  </app-top-bar>

  <!-- [opened]="screenWidth > 875" -->
  <mat-sidenav-container class="container">
    <mat-sidenav
      #sidenav
      closed
      [mode]="screenWidth > 875 ? 'side' : 'over'"
      class="sidenav"
      style="background-color: rgb(43, 63, 83);"
    >
      <mat-nav-list>
        <app-side-menu
          *ngFor="let item of navItems"
          [item]="item"
        ></app-side-menu>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content autosize>
      <!-- <div class="router-wrapper" [@rotateCubeToLeft]="getState(o)"> -->
      <!-- <router-outlet #o="outlet"> </router-outlet> -->
      <router-outlet> </router-outlet>
      <!-- </div> -->
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>
