.router-wrapper  {
	position:  relative;
	overflow:  hidden;
	width:  100vw;
	height:  calc(100%  -  47px);
	perspective:  1200px;
	transform-style:  preserve-3d;
}
.progress {
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
}

.head {
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
}

.container {
  position: absolute;
  top: 75px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(247, 247, 247);
}

.sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 260px;
  //background: rgba(255, 0, 0, 0.5);
}
