<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>编号</th>
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>

  <ng-container matColumnDef="time">
    <th mat-header-cell *matHeaderCellDef>时间</th>
    <td mat-cell *matCellDef="let element">{{ element.time }}</td>
  </ng-container>

  <ng-container matColumnDef="temp">
    <th mat-header-cell *matHeaderCellDef>温度</th>
    <td mat-cell *matCellDef="let element">{{ element.temp }}</td>
  </ng-container>

  <ng-container matColumnDef="hum">
    <th mat-header-cell *matHeaderCellDef>湿度</th>
    <td mat-cell *matCellDef="let element">{{ element.hum }}</td>
  </ng-container>

  <ng-container matColumnDef="co2">
    <th mat-header-cell *matHeaderCellDef>二氧化碳浓度</th>
    <td mat-cell *matCellDef="let element">{{ element.co2 }}</td>
  </ng-container>

  <ng-container matColumnDef="hcho">
    <th mat-header-cell *matHeaderCellDef>甲醛浓度</th>
    <td mat-cell *matCellDef="let element">{{ element.hcho }}</td>
  </ng-container>

  <ng-container matColumnDef="tvoc">
    <th mat-header-cell *matHeaderCellDef>TVOC</th>
    <td mat-cell *matCellDef="let element">{{ element.tvoc }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
