<!-- <div *ngIf="device == undefined">
  <mat-card>
    <mat-card-header>
      <mat-card-title></mat-card-title>
      <mat-card-subtitle> </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content> </mat-card-content>
  </mat-card>
</div> -->
<!-- <div *ngIf="device != undefined"> -->
<mat-card
  [routerLink]="['/devices/env', device == null ? '' : device.device_no]"
>
  <mat-card-header>
    <mat-card-title class="title-left">
      {{ device == null ? "未知设备" : "传感器(" + deviceId.slice(9) + ")" }}
      |
      {{ device == null ? "未知位置" : device.location }}
    </mat-card-title>

    <mat-card-title class="title-right">
      <a style="display: inline; position: relative; right: 0px;">
        {{
          device == null ? "离线" : device.device_state == 1 ? "在线" : "离线"
        }}
      </a>
      <mat-icon
        *ngIf="device == null ? true : device.device_state == 0 ? true : false"
        style="display: inline; position: relative; top: 5px;"
        >error</mat-icon
      >
      <mat-spinner
        *ngIf="device == null ? false : device.device_state == 1 ? true : false"
        color="warn"
        class="title-right"
        [diameter]="20"
        style="display: inline; position: relative; right: 0px; top: 1px;"
      ></mat-spinner>
    </mat-card-title>
    <mat-card-subtitle style="position: relative; top: 10px;">
      <a style="position: relative; top: 3px;"
        >最新数据时间: {{ timeString }}</a
      >
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div fxLayout="row warp" fxLayoutAlign="space-around start">
      <div
        class="airdiv"
        fxFlex="calc(40%)"
        fxFlex.xs="calc(100%)"
        [ngStyle]="
          screenWidth < 600 ? { height: '120px' } : { height: '360px' }
        "
      >
        <mat-icon
          class="data-icon-voc"
          [ngStyle]="
            screenWidth < 600
              ? { top: '-20px', left: '-10px' }
              : { top: '20px', left: '20px' }
          "
          >filter_list</mat-icon
        >
        <div
          class="data-label-voc"
          [ngStyle]="
            screenWidth < 600
              ? { top: '-142px', left: '127px' }
              : { top: '-10px', left: '50px' }
          "
        >
          空气质量
        </div>
        <div
          class="data-text-voc"
          [ngStyle]="
            screenWidth < 600
              ? { top: '-170px', left: '130px' }
              : { top: '-25px', left: '55px' }
          "
        >
          {{ vocString }}
        </div>
      </div>
      <div fxFlex="calc(60%)" fxFlex.xs="calc(100%)" fxLayout="row warp">
        <div fxFlex="calc(50%)">
          <mat-icon class="data-icon-co2">bubble_chart</mat-icon>
          <div class="data-label-co2">
            CO2
          </div>
          <div class="data-text-co2">
            {{ co2String }}<a class="unit">ppm</a>
          </div>
        </div>
        <div fxFlex="calc(50%)">
          <mat-icon class="data-icon-pm25">grain</mat-icon>
          <div class="data-label-pm25">
            PM2.5
          </div>
          <div class="data-text-pm25">
            {{ pm25String }}<a class="unit">μg/m3</a>
          </div>
        </div>
        <div fxFlex="calc(50%)">
          <mat-icon class="data-icon-temp">wb_sunny</mat-icon>
          <div class="data-label-temp">
            温度
          </div>
          <div class="data-text-temp">
            {{ tempString }}<a class="unit">℃</a>
          </div>
        </div>
        <div fxFlex="calc(50%)">
          <mat-icon class="data-icon-humi">invert_colors</mat-icon>
          <div class="data-label-humi">
            湿度
          </div>
          <div class="data-text-humi">
            {{ humiString }}<a class="unit">%</a>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<!-- </div> -->
