<div
  id="carouselVideo"
  class="carousel slide carousel-fade"
  data-ride="carousel"
  data-interval="5000"
>
  <!-- <ol class="carousel-indicators">
    <li
      data-target="#carouselVideo"
      *ngFor="let li of sliderVideos; let i = index"
      [attr.data-slide-to]="i"
      [ngClass]="{ active: i == 0 }"
    ></li>
  </ol> -->
  <div class="carousel-inner mx-auto">
    <div
      class="carousel-item"
      *ngFor="let video of sliderVideos; let i = index"
      [ngClass]="{ active: i == 0 }"
    >
      <video
        id="my-video"
        class="video-js vjs-default-button vjs-big-play-centered w-100"
        controls
        autoplay
        playsinline
        preload="auto"
        height="435"
        data-setup="{}"
      >
        <source src="{{ this.url }}" type="application/x-mpegURL" />
        <p class="vjs-no-js">
          To view this video please enable JavaScript, and consider upgrading to
          a web browser that
          <a href="https://videojs.com/html5-video-support/" target="_blank"
            >supports HTML5 video</a
          >
        </p>
      </video>
    </div>
  </div>
</div>
