<div mat-app-background basic-container>
  <span class="view-name">设备/环境传感设备/传感器({{ deviceId }})</span>

  <div
    class="container"
    fxLayout="row wrap"
    fxLayout.xs="column"
    fxLayoutGap="20px"
  >
    <mat-card fxFlex="calc(100%-20px)" fxFlex.sm="calc(100%-20px)">
      <mat-card-header>
        <mat-card-title class="title">
          <!-- <mat-icon> gps_fixed </mat-icon> -->
          实时图表</mat-card-title
        >
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <app-data-chart
          [deviceId]="deviceId"
          [data]="_sensor5in1Service.subSensorData"
          [datas]="historyDatas"
          [chartInit]=""
        ></app-data-chart>
      </mat-card-content>
    </mat-card>
  </div>
  <div
    class="container"
    fxLayout="row wrap"
    fxLayout.xs="column"
    fxLayoutAlign="space-around stretch"
    fxLayoutGap="20px"
  >
    <app-mutisensor-card
      [deviceId]="deviceId"
      [devices]="_deviceService.devicesInfo"
      [newestData]="_sensor5in1Service.subSensorData"
      fxFlex="35%"
    ></app-mutisensor-card>
    <mat-card fxFlex="calc(65%-20px)" fxFlex.sm="calc(65%-20px)">
      <mat-card-header>
        <mat-card-title class="title">
          位置
        </mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <app-baidu-map-single [location]=""></app-baidu-map-single>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- <div
    class="container"
    fxLayout="row wrap"
    fxLayout.xs="column"
    fxLayoutGap="20px"
  >
    <mat-card
      class="control"
      fxFlex="calc(50%-20px)"
      fxFlex.sm="calc(50%-20px)"
    >
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>控制</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content> </mat-card-content>
    </mat-card>
    <mat-card
      class="message"
      fxFlex="calc(50%-20px)"
      fxFlex.sm="calc(50%-20px)"
    >
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>消息</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="message" *ngFor="let message of eventMessageString">
          {{ message }}
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div
    class="container"
    fxLayout="row wrap"
    fxLayout.xs="column"
    fxLayoutGap="20px"
  >
    <mat-card fxFlex="calc(100%-20px)" fxFlex.sm="calc(100%-20px)">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>历史数据</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <app-data-table></app-data-table>
      </mat-card-content>
    </mat-card> 
  </div>-->
</div>
<div fxLayout fxLayoutAlign="center center">
  <p>版权所有© 浙江光维通信技术有限公司</p>
</div>
