<div mat-app-background basic-container>
  <span class="view-name">总览</span>
  <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px">
    <div fxLayout="column" fxFlex="calc(50%-20px)" fxLayoutGap="20px">
      <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px">
        <mat-card fxFlex="calc(33%-20px)">
          <mat-card-header>
            <!-- <div mat-card-avatar class="example-header-image"></div> -->
            <mat-card-title>设备总数</mat-card-title>
            <mat-card-subtitle> </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content class="summary-text"
            >{{
              _deviceService.deviceNum == -1
                ? "..."
                : _deviceService.deviceNum + 5
            }}
          </mat-card-content>
        </mat-card>
        <mat-card fxFlex="calc(33%-20px)">
          <mat-card-header>
            <!-- <div mat-card-avatar class="example-header-image"></div> -->
            <mat-card-title>设备组数</mat-card-title>
            <mat-card-subtitle> </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content class="summary-text">{{
            _deviceService.deviceNum == -1 ? "..." : "2"
          }}</mat-card-content>
        </mat-card>
        <mat-card fxFlex="calc(33%-20px)">
          <mat-card-header>
            <!-- <div mat-card-avatar class="example-header-image"></div> -->
            <mat-card-title>用户数</mat-card-title>
            <mat-card-subtitle> </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content class="summary-text">{{
            _deviceService.deviceNum == -1 ? "..." : "4"
          }}</mat-card-content>
        </mat-card>
      </div>
      <mat-card class="pie-chart">
        <mat-card-header>
          <!-- <div mat-card-avatar class="example-header-image"></div> -->
          <mat-card-title>设备概况</mat-card-title>
          <mat-card-subtitle>
            设备类型:{{
              _deviceService.deviceNum == -1 ? "读取中" : "3"
            }}
            在线设备:{{
              _deviceService.onLineNum == -1
                ? "读取中"
                : _deviceService.onLineNum
            }}
            离线设备:{{
              _deviceService.offLineNum == -1
                ? "读取中"
                : _deviceService.offLineNum
            }}
            异常设备:{{
              _deviceService.faultNum == -1
                ? "读取中"
                : _deviceService.faultNum + 5
            }}
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content overflow="hidden">
          <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-around">
            <app-new-pie-chartdevice
              [num]="_deviceService.deviceNum + 5"
            ></app-new-pie-chartdevice>
            <app-new-pie-chartlive
              [online]="_deviceService.onLineNum"
              [offline]="_deviceService.offLineNum"
              [fault]="_deviceService.faultNum + 5"
            ></app-new-pie-chartlive>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <!-- TODO:baidu地图显示问题 -->
    <mat-card fxFlex="calc(50%-20px)">
      <mat-card-header>
        <!-- <div mat-card-avatar class="example-header-image"></div> -->
        <mat-card-title>设备分布</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <app-baidu-map (notify)="onNotify($event)"></app-baidu-map>
      </mat-card-content>
    </mat-card>
  </div>
  <div
    class="container"
    fxLayout="row"
    fxLayout.xs="column"
    fxLayoutGap="20px"
    fxLayoutAlign="space-around"
  >
    <mat-card class="control" fxFlex="calc(50%-20px)">
      <mat-card-header>
        <!-- <div mat-card-avatar class="example-header-image"></div> -->
        <mat-card-title>设备数增长情况</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <app-new-line-chart
          [num]="_deviceService.deviceNum + 5"
          fxFlex="calc(100px)"
        ></app-new-line-chart>
        <!-- <app-new-colume-chart fxFlex="calc(50%-20px)"></app-new-colume-chart> -->
      </mat-card-content>
    </mat-card>
    <app-mutisensor-card
      [deviceId]="device_id"
      [devices]="_deviceService.devicesInfo"
      [newestData]="_sensor5in1Service.subSensorData"
      fxFlex="calc(35%-20px)"
    ></app-mutisensor-card>
    <app-data-table
      [deviceState]=""
      [sensorData]="_sensor5in1Service.subSensorData"
      fxFlex="calc(15%-20px)"
    ></app-data-table>
  </div>
</div>
<div fxLayout fxLayoutAlign="center center">
  <p>版权所有© 浙江光维通信技术有限公司</p>
</div>
