<div mat-app-background basic-container>
  <div class="container" fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="20px">
    <div fxLayout="column" fxFlex="calc(50%-40px)" fxLayoutGap="20px">
      <mat-card>
        <mat-card-header>
          <!-- <div mat-card-avatar class="example-header-image"></div> -->
          <mat-card-title>设备概况</mat-card-title>
          <mat-card-subtitle>
            设备总数:11
            在线设备:10
            设备组:1
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div fxLayout="row">
            <!-- <app-data-pie></app-data-pie> -->
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-header>
          <!-- <div mat-card-avatar class="example-header-image"></div> -->
          <mat-card-title>设备类型</mat-card-title>
          <mat-card-subtitle>
            环境传感设备:11
            环境控制设备:0
            其他设备:0
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
        </mat-card-content>
      </mat-card>
    </div>
    <!-- TODO:baidu地图显示问题 -->
    <mat-card fxFlex="calc(50%-40px)">
      <mat-card-header>
        <!-- <div mat-card-avatar class="example-header-image"></div> -->
        <mat-card-title>设备分布</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <app-baidu-map></app-baidu-map>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="container" fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="20px">
    <mat-card class="control" fxFlex="calc(50%-40px)" style="height: 28vh;">
      <mat-card-header>
        <!-- <div mat-card-avatar class="example-header-image"></div> -->
        <mat-card-title>消息事件</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content> </mat-card-content>
    </mat-card>
    <mat-card class="message" fxFlex="calc(50%-40px)" style="height: 28vh;">
      <mat-card-header>
        <!-- <div mat-card-avatar class="example-header-image"></div> -->
        <mat-card-title>设备详情</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
      </mat-card-content>
    </mat-card>
  </div>
</div>