<div mat-app-background basic-container>
  <span class="view-name">总览</span>
  <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px">
    <div fxLayout="column" fxFlex="calc(50%-20px)" fxLayoutGap="20px">
      <div fxLayout="row" fxLayoutGap="20px">
        <mat-card fxFlex="calc(33%-20px)">
          <mat-card-header>
            <!-- <div mat-card-avatar class="example-header-image"></div> -->
            <mat-card-title>设备总数</mat-card-title>
            <mat-card-subtitle> </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content class="summary-text">15 </mat-card-content>
        </mat-card>
        <mat-card fxFlex="calc(33%-20px)">
          <mat-card-header>
            <!-- <div mat-card-avatar class="example-header-image"></div> -->
            <mat-card-title>设备组数</mat-card-title>
            <mat-card-subtitle> </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content class="summary-text">2</mat-card-content>
        </mat-card>
        <mat-card fxFlex="calc(33%-20px)">
          <mat-card-header>
            <!-- <div mat-card-avatar class="example-header-image"></div> -->
            <mat-card-title>用户数</mat-card-title>
            <mat-card-subtitle> </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content class="summary-text">4 </mat-card-content>
        </mat-card>
      </div>
      <mat-card>
        <mat-card-header>
          <!-- <div mat-card-avatar class="example-header-image"></div> -->
          <mat-card-title>设备概况</mat-card-title>
          <mat-card-subtitle>
            设备类型:3 在线设备:8 离线设备:2 异常设备:5
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content overflow="hidden">
          <div fxLayout="row" fxLayoutAlign="space-around">
            <app-new-pie-chart fxFlex="calc(50%-20px)"></app-new-pie-chart>
            <app-new-pie-chart2 fxFlex="calc(50%-20px)"></app-new-pie-chart2>
            <!-- <app-new-line-chart fxFlex="calc(50%-20px)"></app-new-line-chart> -->
            <!-- <app-data-pie></app-data-pie> -->
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <!-- TODO:baidu地图显示问题 -->
    <mat-card fxFlex="calc(50%-20px)">
      <mat-card-header>
        <!-- <div mat-card-avatar class="example-header-image"></div> -->
        <mat-card-title>设备分布</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <app-baidu-map (notify)="onNotify($event)"></app-baidu-map>
      </mat-card-content>
    </mat-card>
  </div>
  <div
    class="container"
    fxLayout="row"
    fxLayout.xs="column"
    fxLayoutGap="20px"
    fxLayoutAlign="space-around"
  >
    <mat-card class="control" fxFlex="calc(50%-20px)">
      <mat-card-header>
        <!-- <div mat-card-avatar class="example-header-image"></div> -->
        <mat-card-title>设备数增长情况</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <app-new-line-chart fxFlex="calc(100px)"></app-new-line-chart>
        <!-- <app-new-colume-chart fxFlex="calc(50%-20px)"></app-new-colume-chart> -->
      </mat-card-content>
    </mat-card>
    <mat-card class="message" fxFlex="calc(35%-20px)">
      <mat-card-header>
        <!-- <div mat-card-avatar class="example-header-image"></div> -->
        <mat-card-title
          >监控设备最新数据(多功能传感器:{{ device_id }})</mat-card-title
        >
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <!-- <div class="container" fxLayout="row" fxLayoutAlign="space-around">
          <app-new-solidgauge-chart [data]="data"> </app-new-solidgauge-chart>
        </div> -->
        <div
          class="container"
          fxLayout="row"
          fxLayout.xs="column"
          fxLayoutGap="20px"
          fxLayoutAlign="space-around"
        >
          <mat-icon class="data-icon-voc">filter_list</mat-icon>
          <div class="data-label-voc">
            VOC
          </div>
          <div class="data-text-voc">
            {{ data.voc_lvl }}
          </div>

          <mat-icon class="data-icon-co2">bubble_chart</mat-icon>
          <div class="data-label-co2">
            CO2(ppm)
          </div>
          <div class="data-text-co2">
            {{ data.co2 }}
          </div>
          <mat-icon class="data-icon-pm25">smoking_rooms</mat-icon>
          <div class="data-label-pm25">
            PM2.5(μg/m3)
          </div>
          <div class="data-text-pm25">
            {{ data.pm25 }}
          </div>
          <mat-icon class="data-icon-temp">wb_sunny</mat-icon>
          <div class="data-label-temp">
            温度(℃)
          </div>
          <div class="data-text-temp">
            {{ data.temp }}
          </div>
          <mat-icon class="data-icon-humi">invert_colors</mat-icon>
          <div class="data-label-humi">
            湿度(%)
          </div>
          <div class="data-text-humi">
            {{ data.humi }}
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <app-data-table
      [historyMsg]="historyMsg"
      fxFlex="calc(15%-20px)"
    ></app-data-table>
    <!-- <mat-card class="message" fxFlex="calc(25%-20px)">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>消息事件</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="message" *ngFor="let message of historyMsgStrings">
          {{ message }}
        </div>
      </mat-card-content>
    </mat-card> -->
  </div>
</div>
