:host {
  display: block;
  width: 100%;
  //height: 100%;
}
.view-name {
  position: relative;
  top: 10px;
  left: 15px;
  color: rgb(40, 63, 82);
}

.container {
  //增加显示卡片与maincontainer的边框的间距
  margin: 20px;
}
.summary-text {
  text-align: center;
  font-size: 35px;
  font-weight: bolder;
  color: rgb(40, 63, 82);
}
//所有卡片标题
.mat-card-title {
  font-weight: light;
  font-size: 15px;
  color: rgb(40, 63, 82);
}
.data-text {
  text-align: center;
  font-size: 35px;
  font-weight: bolder;
  color: rgb(40, 63, 82);
}
.data-label {
  text-align: center;
  font-size: 20px;
  font-weight: light;
  color: rgb(40, 63, 82);
}

.message {
  overflow: hidden;
  color: rgb(40, 63, 82);
}
.app-data-table {
  overflow: hidden;
}

.data-icon-voc {
  display: inline;
  position: absolute;
  top: 80px;
  left: 100px;
  font-size: 65px;
  font-weight: bolder;
  color: #435c73;
}
.data-label-voc {
  display: inline;
  position: absolute;
  top: 75px;
  left: 190px;
  font-size: 15px;
  font-weight: light;
  color: #707070;
}
.data-text-voc {
  display: inline;
  position: absolute;
  top: 90px;
  left: 185px;
  font-size: 50px;
  font-weight: bolder;
  color: #435c73;
}
.data-icon-co2 {
  display: inline;
  position: absolute;
  top: 80+100px;
  left: 100-100px;
  font-size: 65px;
  font-weight: bolder;
  color: #435c73;
}
.data-label-co2 {
  display: inline;
  position: absolute;
  top: 75+100px;
  left: 175-100px;
  font-size: 15px;
  font-weight: light;
  color: #435c73;
}
.data-text-co2 {
  display: inline;
  position: absolute;
  top: 90+100px;
  left: 170-100px;
  font-size: 50px;
  font-weight: bolder;
  color: #435c73;
}
.data-icon-temp {
  display: inline;
  position: absolute;
  top: 80+200px;
  left: 100-100px;
  font-size: 65px;
  font-weight: bolder;
  color: #435c73;
}
.data-label-temp {
  display: inline;
  position: absolute;
  top: 75+100+100px;
  left: 175-100px;
  font-size: 15px;
  font-weight: light;
  color: #435c73;
}
.data-text-temp {
  display: inline;
  position: absolute;
  top: 90+100+100px;
  left: 170-100px;
  font-size: 50px;
  font-weight: bolder;
  color: #435c73;
}
.data-icon-pm25 {
  display: inline;
  position: absolute;
  top: 80+100px;
  left: 100+80px;
  font-size: 65px;
  font-weight: bolder;
  color: #435c73;
}
.data-label-pm25 {
  display: inline;
  position: absolute;
  top: 75+100px;
  left: 175+80px;
  font-size: 15px;
  font-weight: light;
  color: #435c73;
}
.data-text-pm25 {
  display: inline;
  position: absolute;
  top: 90+100px;
  left: 170+80px;
  font-size: 50px;
  font-weight: bolder;
  color: #435c73;
}
.data-icon-humi {
  display: inline;
  position: absolute;
  top: 80+100+100px;
  left: 100+80px;
  font-size: 65px;
  font-weight: bolder;
  color: #435c73;
}
.data-label-humi {
  display: inline;
  position: absolute;
  top: 75+100+100px;
  left: 175+80px;
  font-size: 15px;
  font-weight: light;
  color: #435c73;
}
.data-text-humi {
  display: inline;
  position: absolute;
  top: 90+100+100px;
  left: 170+80px;
  font-size: 50px;
  font-weight: bolder;
  color: #435c73;
}
