<div id="carouselExampleFade" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div
      class="carousel-item"
      *ngFor="let image of sliderImages; let i = index"
      [ngClass]="{ active: i == 0 }"
    >
      <img class="d-block" width="100%" height="510px" [src]="image[0]" />
      <div class="carousel-caption d-none d-md-block">
        <h1>{{ image[1] }}</h1>
        <h3>{{ image[2] }}</h3>
      </div>
    </div>
    <!-- <div
        class="carousel-item"
        *ngFor="let video of sliderVideos; let i = index"
        [ngClass]="{ active: i == 0 }"
      >
        <video class="video-fluid" autoplay loop muted>
          <source [src]="video[0]" type="video/mp4" />
        </video>
        <div class="carousel-caption d-none d-md-block">
          <h5>{{ video[1] }}</h5>
          <p>{{ video[2] }}</p>
        </div>
      </div> -->
  </div>
</div>
