<div mat-app-background basic-container>
  <div
    class="container"
    fxLayout="row wrap"
    fxLayout.xs="column"
    fxLayoutGap="20px"
  >
    <mat-card fxFlex="calc(100%-20px)" fxFlex.sm="calc(100%-20px)">
      <mat-card-header>
        <mat-card-title class="title">
          <!-- <mat-icon> gps_fixed </mat-icon> -->
          小龙虾处理流程展示</mat-card-title
        >
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <app-photo-gallery></app-photo-gallery>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div fxLayout fxLayoutAlign="center center">
  <p>版权所有© 浙江清华长三角研究院</p>
</div>