<baidu-map
  #mapinstance
  [options]="options"
  style="display: block; width: 100%; height: 515px"
>
  <marker
    [point]="marker.point"
    [options]="marker.options"
    (loaded)="setAnimation($event)"
  >
    <!-- (click)="showWindow($event)" -->
  </marker>
  <control type="navigation" [options]="controlOpts"></control>
  <control type="overviewmap" [options]="overviewmapOpts"></control>
  <control type="scale" [options]="scaleOpts"></control>
  <control type="maptype" [options]="mapTypeOpts"></control>
</baidu-map>
