<!--[ngStyle]="{ 'padding-left': depth * 12 + 'px' }"-->
<a
  mat-list-item
  [ngStyle]="{ 'padding-left': depth * 8 + 'px' }"
  (click)="onItemSelected(item)"
  [ngClass]="{
    active: item.route ? router.isActive(item.route, true) : false,
    expanded: expanded
  }"
  class="menu-list-item"
  [appMouseEnterSetble]="'#354C61'"
  style="color: rgb(237, 237, 237);"
>
  <mat-icon class="routeIcon">{{ item.iconName }}</mat-icon>
  <span fxFlex="5px"></span>
  {{ item.displayName }}
  <span fxFlex *ngIf="item.children && item.children.length">
    <span fxFlex></span>
    <mat-icon
      [@indicatorRotate]="expanded ? 'expanded' : 'collapsed'"
      style="color: rgb(255, 255, 255);"
    >
      expand_more
    </mat-icon>
  </span>
</a>
<div *ngIf="expanded">
  <app-side-menu
    *ngFor="let child of item.children"
    [item]="child"
    [depth]="depth + 1"
  >
  </app-side-menu>
</div>
