.topbar {
  height: 75px;
}

.header-name {
  font-size: 24px;
  font-weight: lighter;
}
.user-name {
  padding: 0 10px;
  font-size: 15px;
  width: 150px;
}

.spacer {
  flex: 1 1 auto;
}
.search-form {
  position: relative;
  top: 6px;
  left: 20px;
  min-width: 100px;
  max-width: 150px;
}

.search-bar {
  width: 100%;
}
