<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="sideMenuButton.emit()">
      <mat-icon>menu</mat-icon>
    </button>
    <button mat-icon-button disabled>
      <img
        src="../../assets/logo.png"
        style="max-width: 100%; min-width: 100%;"
      />
    </button>
    <span class="header-name">光维物联网云平台</span>
    <!--<button mat-button color="basic">设备</button>-->
    <span class="spacer"></span>

    <button class="user-name" mat-button [matMenuTriggerFor]="usermenu">
      <mat-icon>how_to_reg</mat-icon>
      grandway123
      <mat-menu #usermenu="matMenu">
        <button mat-menu-item>账户管理</button>
        <button mat-menu-item>设备管理</button>
        <button mat-menu-item>退出</button>
      </mat-menu>
    </button>

    <button mat-icon-button [matMenuTriggerFor]="settingmenu">
      <mat-icon>settings</mat-icon>
      <mat-menu #settingmenu="matMenu">
        <button mat-menu-item>操作人员设备管理</button>
        <button mat-menu-item>操作人员账户管理</button>
        <button mat-menu-item>注册操作人员账户</button>
        <button mat-menu-item>系统设置</button>
      </mat-menu>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
