.topbar {
  height: 75px;
}

.header-name {
  font-size: 18px;
}
.user-name {
  padding: 0 10px;
  font-size: 15px;
  width: 150px;
}

.spacer {
  flex: 1 1 auto;
}
.search-form {
  position: relative;
  top: 8px;
  min-width: 150px;
  max-width: 300px;
  width: 100%;
}

.search-bar {
  width: 100%;
}
