<div fxLayout="row">
  <mat-toolbar class="topbar" color="warn" fxFlex="240px">
    <button mat-icon-button disabled>
      <img
        src="../../assets/logo.png"
        style="max-width: 90%; min-width: 90%;"
      />
    </button>
    <span class="header-name">Grandway IOT</span>
  </mat-toolbar>
  <mat-toolbar class="topbar" color="white" fxFlex="100%">
    <button mat-icon-button (click)="sideMenuButton.emit()">
      <mat-icon>menu</mat-icon>
      <!-- <span class="header-name">光维物联网云平台</span> -->
    </button>
    <form class="search-form">
      <mat-form-field class="search-bar">
        <!-- <mat-label>Email</mat-label> -->
        <input matInput placeholder="搜索" />
      </mat-form-field>
    </form>
    <span class="spacer"></span>
    <button class="user-name" mat-button [matMenuTriggerFor]="usermenu">
      <mat-icon>how_to_reg</mat-icon>
      grandway
      <mat-menu #usermenu="matMenu">
        <button mat-menu-item>账户管理</button>
        <button mat-menu-item>设备管理</button>
        <button mat-menu-item>退出</button>
      </mat-menu>
    </button>

    <button mat-button [matMenuTriggerFor]="settingmenu">
      <mat-icon>settings</mat-icon>
      <mat-menu #settingmenu="matMenu">
        <button mat-menu-item>操作人员设备管理</button>
        <button mat-menu-item>操作人员账户管理</button>
        <button mat-menu-item>注册操作人员账户</button>
        <button mat-menu-item>系统设置</button>
      </mat-menu>
    </button>
  </mat-toolbar>
</div>
